.containerBtnThemeToggle {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    border-radius: 30px;
    border: 2px solid var(--text-header-footer-user);

    .btnThemeToggle {
        font-size: 1.5rem;
        color: var(--text-header-footer-user);
        padding: 5px;

        &:hover {
            color: #9baf85;
        }
    }
} 

.active {
    background-color: var(--primary-300); 
    border: 2px solid var(--primary-300);
    border-radius: 50%;

    &:hover {
        background-color: transparent; 
        border: 2px solid var(--text-header-footer-user);
        border-radius: 30px;
    }
}

/* --- Até 880px --- */
@media (max-width: 880px) {
    .containerBtnThemeToggle {
        .btnThemeToggle {
            font-size: 1.2rem;
        }
    } 
}