.containerLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.logo {
		width: 180px;
		height: auto;
	}
}

/* --- Responsividade --- */
/* --- Até 880px --- */
@media (max-width: 880px) {
	.containerLogo {
		.logo {
			width: 120px;
			height: auto;
		}
	}
}