// tokens globais (tipografia, espaçamento, etc)
$text: (
	font-family: "Comfortaa, sans-serif",
	font-heading: "League Gothic, sans-serif",

	size-base: 16px,
	size-sm: 14px,
	size-lg: 20px,
	size-xl: 32px,

	weight-light: 300,
	weight-regular: 400,
	weight-medium: 500,
	weight-bold: 700
);