@use "../../../styles/abstracts/variables" as *;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--background-primary);
	overflow-x: hidden;
}

.containerMapa {
	width: 100%;
	height: 100vh;
	padding: 10px;
}