.botaoShare {
    background-color: var(--primary-400);
    color: var(--neutral-secondary);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

    .faRegPaperPlane {
        font-size: 2rem;
        min-width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }

    .shareText {
        font-size: 1.2rem;
        white-space: nowrap;
        pointer-events: none;
    }

    @media (max-width: 720px) {
        .shareText {
            opacity: 1;
            width: auto;
            transform: translateX(0);
            font-size: 1.4rem;
        }
    }

    @media (max-width: 480px){
        .shareText{
            font-size: 1.3rem;
        }
    }
}