$dark: (
    background-primary: #3d291e,
    background-secondary: #0e2003,
    primary-100: #5E3D2B,
    primary-200: #7A4F33,
    primary-300: #A16B4C,
    primary-400: #C88B6B,
    primary-500: #E0A584,
    primary-700: #fabc95,
    secondary-500: #496631,
    secondary-600: #729158,
    secondary-900: #8aa161,
    neutral-primary: #FFFFFF,
    neutral-secondary: #141414,
    neutral-muted: #B0B0B0,
    highlight: #FFD966,
    success: #455C2E,
    danger: #661315,
    text-principal: #FFFFFF,
    text-secondary: #141414,
    text-header-footer-user: #FFFFFF,
    background-banner-principal: linear-gradient(180deg,
        rgba(14, 32, 3, 1),
        rgba(14, 32, 3, 0.65),
        rgba(14, 32, 3, 0.52),
        rgba(14, 32, 3, 0.36)),
    text-banner-principal: #FFFFFF,
);