$dark: (
  background-primary: #1A1A1A,      
  background-secondary: #2E2E2E,    
  primary-100: #5E3D2B,             
  primary-200: #7A4F33,
  primary-300: #A16B4C,
  primary-400: #C88B6B,
  primary-500: #E0A584,             
  primary-700: #F1C9B0,
  secondary-500: #75866b,          
  secondary-600: #809c68,
  secondary-900: #CBD9B3,
  neutral-primary: #FFFFFF,        
  neutral-secondary: #000000,       
  neutral-muted: #B0B0B0,           
  highlight: #FFD966,             
  success: #455C2E,
  danger: #661315,                
  text-primary: #FFFFFF,          
  text-secondary: #000000,          
);
