$dark: (
    background-primary: #253a1d,
    background-secondary: #0e2003,
    primary-100: #5E3D2B,
    primary-200: #7A4F33,
    primary-300: #A16B4C,
    primary-400: #C88B6B,
    primary-500: #E0A584,
    primary-700: #F1C9B0,
    secondary-500: #75866b,
    secondary-600: #809c68,
    secondary-900: #CBD9B3,
    neutral-primary: #F0F0F0,
    neutral-secondary: #141414,
    neutral-muted: #B0B0B0,
    highlight: #FFD966,
    success: #455C2E,
    danger: #661315,
    text-principal: #F0F0F0,
    text-secondary: #141414,
    text-header-footer-user: #F0F0F0,
    background-banner-principal: linear-gradient(180deg,
        rgba(19, 41, 5, 1),
        rgba(19, 41, 5, 0.65),
        rgba(19, 41, 5, 0.52),
        rgba(19, 41, 5, 0.36)),
    text-banner-principal: #F0F0F0,
);