$default-admin: (
	adm-background-primary: #F4E9D9,
	adm-background-secondary: #5E7148,
	adm-primary-100: #DFD4B8,
	adm-primary-200: #F0D8B5,
	adm-primary-300: #D29866,
	adm-primary-400: #783d19,
	adm-primary-500: #893A1A,
	adm-primary-700: #52260A,
	adm-secondary-500: #5E7148,
	adm-secondary-600: #405A37,
	adm-secondary-900: #163008,
	adm-neutral-primary: #000000,
	adm-neutral-secondary: #FFFFFF,
	adm-neutral-muted: #9ca3af,
	adm-highlight: #F5B62F,
	adm-success: #455C2E,
	adm-danger: #661315,
	adm-text-primary: #000000,
	adm-text-secondary: #FFFFFF,
	adm-text-header-footer-user: #FFFFFF,
	adm-background-banner-principal: linear-gradient(
        180deg,
        rgba(228, 198, 168, 1),
        rgba(228, 198, 168, 1),
        rgba(228, 198, 168, 0.52),
        rgba(228, 198, 168, 0.36)
    ),
	adm-text-banner-principal: #000000,
);