

$default: (
	background-primary: #F4E9D9,
	background-secondary: #5E7148,
	primary-100: #DFD4B8,
	primary-200: #F0D8B5,
	primary-300: #D29866,
	primary-400: #783d19,
	primary-500: #893A1A,
	primary-700: #52260A,
	secondary-500: #5E7148,
	secondary-600: #405A37,
	secondary-900: #163008,
	neutral-primary: #000000,
	neutral-secondary: #FFFFFF,
	neutral-muted: #9ca3af,
	highlight: #F5B62F,
	success: #455C2E,
	danger: #661315,
	text-primary: #000000,
	text-secondary: #FFFFFF,
);