$indigena: (
	background-primary: #fff8e6,
	background-secondary: #66110b,
	primary-100: #fff8e6,
	primary-200: #8d7977,
	primary-300: #8b6663,
	primary-400: #75403d,
	primary-500: #6e241f,
	primary-700: #66110b,
	secondary-500: #382e26,
	secondary-600: #422b18,
	secondary-900: #301a08,
	neutral-primary: #140f07,
	neutral-secondary: #fff8e6,
	neutral-muted: #b08968,
	highlight: #F5B62F,
	success: #17551a,
	danger: #d81515,
	text-principal: #3e2f1b,
	text-secondary: #fff8e6,
	text-header-footer-user: #FFFFFF,
	background-banner-principal: linear-gradient(
        180deg,
        rgba(228, 198, 168, 1),
        rgba(228, 198, 168, 1),
        rgba(228, 198, 168, 0.52),
        rgba(228, 198, 168, 0.36)
    ),
	text-banner-principal: #140f07,
);