$nordestino: (
	background-primary: #fff8e6,
	background-secondary: #ff9800,
	primary-100: #fff8e6,
	primary-200: #e2b87a,
	primary-300: #e4ac59,
	primary-400: #e9a135,
	primary-500: #ff9800,
	primary-700: #8f5704,
	secondary-500: #5E7148,
	secondary-600: #405A37,
	secondary-900: #163008,
	neutral-primary: #140f07,
	neutral-secondary: #fff8e6,
	neutral-muted: #b08968,
	highlight: #F5B62F,
	success: #2e7d32,
	danger: #d84315,
	text-primary: #3e2f1b,
	text-secondary: #fff8e6,
	text-header-footer-user: #FFFFFF,
	background-banner-principal: linear-gradient(
        180deg,
        rgba(228, 198, 168, 1),
        rgba(228, 198, 168, 1),
        rgba(228, 198, 168, 0.52),
        rgba(228, 198, 168, 0.36)
    ),
	text-banner-principal: #140f07,
);