@use './base/_reset' as *;
@use "./abstracts/_variables" as vars;
@use "./abstracts/_mixins" as mixins;

// gera as variáveis CSS para cada tema
@include mixins.generate-theme-css-vars();

:root {
	--bg-image: url("/icons/icon-teste-tema-default.png");
}

[data-theme="dark"] {
	--bg-image: url("/icons/icon-teste-tema-dark.png");
}

[data-theme="nordestino"] {
	--bg-image: url("/icons/icon-teste-tema-nordestino.png");
}