@use "../../../styles/abstracts/variables" as *;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--background-primary);
}

.titulo {
	font-family: $font-family-principal;
	font-size: 40px;
	color: var(--text);
}