.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--surface);
}

.titulo {
	font-family: text(--font-family);
	font-size: 40px;
	color: var(--text);
}