@use "../../../styles/abstracts/variables.scss" as *;

.header{
    display: flex;
    margin-bottom: 5.5rem;
    margin-left: 2.4rem;

    img{
        margin-top: 0.4rem;
    }
}

.containerVisualizar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-primary);
    padding: 20px;
}


.topo {
    position: relative;
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    height: 10vh;
}

.iconAdd {
    position: absolute;
    bottom: 68%;
    right: 12.5em;
    transform: translateY(-50%);
    font-size: 4rem;
    color: var(--primary);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        transform: translateY(-50%) scale(1.1);
    }

    @media(min-width: 1081px) {
        transform: none;
        
        &:hover{
            transform: translateY(0%) scale(1.1);
        }
    }
}

/*RESPONSIVIDADE*/

@media (max-width: 1080px) {
    .containerCards {
        margin-left: 30px;
        gap: 15px;
    }

    .logo {
        width: 20%;
    }

    .iconAdd {
        font-size: 3.5rem;
        left: 1.5em;
        top: 0;
    }
}

@media (max-width: 720px) {
    .containerCards {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1px;
        bottom: 1px;
    }

    .logo {
        width: 25%;
        margin-bottom: 2rem;
    }

    .iconAdd {
        left: 0.6em;
        top: 35px;
    }
}

@media (max-width: 480px) {

    .containerCards {
        grid-template-columns: 1fr;
        margin-left: 4.5em;
        bottom: 20px;
    }

    .logo {
        width: 35%;
        margin-bottom: 1.5rem;
    }

    .iconAdd {
        left: 5.7em;
        top: 0.1em;
    }
}