@use "../styles/abstracts/variables" as *;

.playerCompacto {
    display: flex;
    align-items: center;
    
    span {
        font-family: $font-family-principal;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-400);
    }
}

.playIconCompacto {
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--secondary-900);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}