@use "../../../styles/abstracts/variables" as *;

.formContato {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0;
	gap: 10px;

	h2 {
		font-family: $font-family-texto;
		color: var(--text-secondary);
	}

	.groupInput {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.itemGroupInput {
		display: flex;
		flex-direction: column;

		label,
		input,
		textarea {
			font-family: $font-family-texto;
		}

		label {
			color: var(--text-secondary);
		}

		input,
		textarea {
			border-radius: 10px;
			border: 1px solid var(--primary-500);
			padding: 10px;
		}
	}

	.btnFormContato {
		background-color: var(--primary-500);
		color: var(--text-secondary);
		border-radius: 20px;
		height: 40px;
	}
}