@use "../../../styles/abstracts/variables" as *;

.formContato {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0;
	gap: 10px;

	h2 {
		font-family: $font-family-subtitulo;
		color: var(--text-header-footer-user);
		font-size: 2rem;
		text-align: start;
	}

	.groupInput {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.itemGroupInput {
		display: flex;
		flex-direction: column;

		label,
		input,
		textarea {
			font-family: $font-family-subtitulo;
		}

		label {
			color: var(--text-header-footer-user);
			margin-bottom: 5px;
		}

		input,
		textarea {
			border-radius: 10px;
			border: 1px solid var(--primary-500);
			padding: 10px;
		}
	}

	.btnFormContato {
		background-color: var(--primary-500);
		color: var(--neutral-secondary);
		border-radius: 20px;
		height: 40px;
		font-family: $font-family-texto;
		font-weight: 600;
		font-size: 1rem;
		cursor: pointer;
		transition: background 0.3s;

		&:hover {
			background-color: var(--primary-400);
		}
	}

	/* --- RESPONSIVIDADE --- */
	/* --- Até 1080px --- */
	@media (max-width: 1080px) {
		.groupInput {
			gap: 15px;
		}

		h2 {
			font-size: 1.8rem;
		}
	}

	/* --- Até 720px --- */
	@media (max-width: 720px) {
		.groupInput {
			flex-direction: column;
			gap: 10px;
		}

		input,
		textarea {
			width: 100%;
		}

		.btnFormContato {
			width: 100%;
		}

		h2 {
			font-size: 1.5rem;
		}
	}

	/* --- Até 480px --- */
	@media (max-width: 480px) {
		padding: 10px 0;
		gap: 8px;

		h2 {
			font-size: 1.3rem;
		}

		input,
		textarea {
			padding: 8px;
		}

		.btnFormContato {
			height: 35px;
			font-size: 0.9rem;
		}
	}
}