@use "../../styles/abstracts/variables" as *;

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.containerHeaderPrincipal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 10vh;
	top: 0;
	padding: 20px;
	background: var(--background-secondary);
}


.logoHeaderPrincipal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;

	.logo {
		width: 180px;
		height: auto;
	}
}

.headerPrincipalItems {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.headerBtn {
	font-family: $font-family-principal;
	color: var(--text-secondary);
}

.active {
	background: var(--primary-300);
	border-radius: 20px;
	padding: 10px 20px;
}

.btnSearch {
	font-size: 2.5rem;
	color: var(--text-secondary);
	cursor: pointer;
}