@use "../../../styles/abstracts/variables" as *;

.container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 10px;

    .containerTopo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        h2 {
            font-family: $font-family-texto;
            font-size: 2.5rem;
            color: var(--text-primary);
        }

        .btnVerMais {
            font-family: $font-family-texto;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--text-primary);

            &:hover {
                color: var(--secondary-500);
            }
        }
    }
}

/* --- Responsividade --- */
/* Até 1080px */
@media (max-width: 1080px) {
    .container {
        h2 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

/* Até 720px */
@media (max-width: 720px) {
    .container {
        h2 {
            font-size: 2rem;
            text-align: center;
        }
    }
}

/* Até 480px */
@media (max-width: 480px) {
    .container {
        gap: 5px;

        h2 {
            font-size: 1.6rem;
        }
    }
}