@use "../../../styles/abstracts/variables" as *;

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--background-primary);
	overflow-x: hidden;
}

.conteudo {
	padding: 0 2%;
}

.headerArtigo {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 0;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	gap: 1rem;
}

.infoTitulo {
    display: flex;
    flex-direction: column;
}

.tituloArtigo {
	font-family: $font-family-principal;
	font-size: 3.5rem;
	font-weight: 500;
}

.dataPublicacao {
	display: flex;
	white-space: nowrap;
	
    font-family: $font-family-subtitulo;
	font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary-400);
    margin-top: 0.5rem;
    font-style: italic;
}

.autora {
	font-family: $font-family-principal;
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--primary-400);
	white-space: nowrap;
}

.conteudoPrincipal {
	display: grid;
	align-items: flex-start;
	column-gap: 2rem;
	grid-template-columns: 1.5fr 1fr;
	margin-bottom: 1.5rem;
}

.colunaEsquerda,
.colunaDireita {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.textoContainer {
	position: relative;
}

.corpoTexto {
	background-color: var(--primary-200);
	padding: 1.5rem;
	border-radius: 20px;
	min-height: 23rem;
	max-height: 23rem;
	font-size: 18px;
	font-family: $font-family-texto;
	overflow-y: auto;
	line-height: 1.7;
	transition: max-height 0.5s ease-in-out;

	&.expanded {
		max-height: 1000px;

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
		}
	}

	p {
		margin-bottom: 1.25rem;
	}

	&::-webkit-scrollbar {
		width: 10px;
	}

	// Estiliza o caminho do scroll
	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.1);
		margin: 1.5rem 0;
		border-radius: 20px;
	}

	// Estiliza a barra
	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-400);
		border-radius: 20px;

	}
}

.expandButton {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 50%; 
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease, transform 0.2s ease;

	svg{
		color: var(--secondary-900);
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
		transform: scale(1.1);
	}
}

.imagemCapa img {
	border-radius: 20px;
	height: 23rem;
}

.botaoShare {
	background-color: var(--primary-400);
	color: var(--neutral-secondary);
	border-radius: 30px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 1.5rem;

	.faRegPaperPlane {
		font-size: 2rem;
		min-width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}

	.shareText {
		font-size: 1.2rem;
		white-space: nowrap;
		pointer-events: none;
	}

	@media (max-width: 720px) {
		.shareText {
			opacity: 1;
			width: auto;
			transform: translateX(0);
			font-size: 1.4rem;
		}
	}
}

.tags {
	display: flex;
	gap: 1.5rem;
	flex: 1;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 1.5rem;
}

.tag {
	background-color: var(--secondary-900);
	padding: 8px 20px;
	border-radius: 30px;
	color: var(--neutral-secondary);
	font-family: $font-family-principal;
}

.infoInferior{
	display: flex;
	align-items: center;
	gap: 2rem;
}

.playerContainerWrapper {
    width: 100%; // <<<<<< ADICIONE ISTO para garantir que ocupe a largura total
    box-sizing: border-box; // <<<<<< ADICIONE ISTO para incluir o padding na largura
}

.playerCompacto {
    display: flex;
    align-items: center;
	
    gap: 1rem;
	width: 100%;
    
    h4 {
        font-family: $font-family-principal;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-400);
    }
}

.playIconCompacto {
    font-size: 1.7rem;
    color: var(--neutral-secondary);
    background-color: var(--neutral-primary);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.artigosRelacionadosContainer {
	margin-top: 4rem;
	padding-top: 2rem;
	border-top: 2px solid var(--primary-400);
}

.relacionadosHeader {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 2rem;
}

.tituloRelacionados {
	font-family: $font-family-principal;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 2rem;
}

.cardsContainer {
	// display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.verMaisBotao {
	display: inline-block;
	background-color: var(--secondary-900);
	color: var(--neutral-secondary);
	padding: 0.6rem 1.8rem;
	border-radius: 30px;
	text-decoration: none;
	font-weight: 600;
	font-family: $font-family-subtitulo;
	transition: all 0.3s ease;
	margin-top: 0;

	&:hover {
		background-color: var(--primary-500);
		transform: translateY(-2px);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 1080px) {
	.tituloArtigo{
		font-size: 3rem;
	}

	.corpoTexto{
		font-size: 20px;
	}
	
	.tag {
		font-size: 1.2rem;
	}

	.relacionadosHeader{
		display: block;
	}

	.tituloRelacionados {
		font-size: 3rem;
	}

	.verMaisBotao {
		font-size: 1rem;
	}

	.cardsContainer {
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;
		justify-self: center;
	}
}

@media (max-width: 720px) {
	.colunaEsquerda,
    .colunaDireita,
	.infoInferior {
        display: contents;
    }

	.conteudo {
		padding: 5%;
	}

	.conteudoPrincipal {
		grid-template-columns: 1fr;
		grid-template-areas:
			"audio"
			"imagem"
			"texto"
			"tags"
			"share";
	}

	.headerArtigo {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}

	.tituloArtigo {
		grid-area: titulo;
		font-size: 2.5rem;
	}

	.autora {
		grid-area: autora;
		font-size: 1.8rem;
	}

	.playerContainerWrapper{
		margin-bottom: 2rem;
	}

	.audio{
		grid-area: audio;
	}

	.imagemCapa {
		grid-area: imagem;
		img {
			width: 75%;
			height: auto;
			justify-self: center;
			margin-bottom: 1.5rem;
		}
	}

	.textoContainer{
		grid-area: texto;
	}

	.corpoTexto {
		
		max-height: 30rem;
		font-size: 22px;

		&::-webkit-scrollbar {
			width: 13px;
		}
	}

	.tags {
		grid-area: tags;
		justify-content: flex-start;
		gap: 0.8rem;
	}

	.tag {
		font-size: 23px;

	}

	.botaoShareLayout{
		grid-area: share;
	}

	.audio{
		margin-bottom: 2rem;
	}

	.cardsContainer {
		gap: 1rem;
	}

}

@media (max-width: 480px) {
	.tituloArtigo{
		font-size: 2.6rem;
	}

	.autora{
		font-size: 1.5rem;
	}

	.imagemCapa {
		img {
			width: 100%;
		}
	}

	.corpoTexto {
		max-height: 35rem;

		&::-webkit-scrollbar {
			width: 15px;
		}
	}

	.relacionadosHeader{
		display: block;
	}

	.tituloRelacionados{
		font-size: 2.5rem;
	}

	.verMaisBotao{
		font-size: 1.3rem;
	}

	.cardsContainer {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}

	.corpoTexto{
		font-size: 18px;
	}

	.tag{
		font-size: 14px;
	}

	.tituloRelacionados{
		font-size: 2.2rem;
	}

	.verMaisBotao{
		font-size: 1.1rem;
	}
}