@use "../../../styles/abstracts/variables" as *;


.configuracoesContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family-subtitulo;
    transition: all 0.3s ease;
}

.logo {
    width: 15%;
}

.titleConfig {
  color: var(--secondary-900);
  font-size: 2rem;
  position: static;
  right: auto;
  align-self: flex-start; 
  margin: 0 0 1rem 6%; 
  text-align: left;
}

.backgroundConfiguracoes {
    position: relative;
    background-color: var(--primary-300);
    border-radius: 8px;
    border: 3px solid var(--primary-500);
    width: 90%;
    height: auto;
    transition: all 0.3s ease;
    padding: 1rem 0;
}

.infoAcessibilidade, .infoSobreMim, .infoTema{
    position: relative;
    background-color: rgba(255, 255, 255,0.21 );
    width: 95%;
    padding: 20px;
    border-radius: 10px;
    margin-left: 2.5%;
    margin-top: 15px;
    transition: all 0.3s ease;
    

   .titleAcessibilidade{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 15px;
    transition: all 0.3s ease;
   }
}

.leituraVoz, .noturnoConfig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    transition: all 0.3s ease;
}

.infoSobreMim, .infoTema{
    display: flex;
    justify-content: space-between;
}

.leituraVoz:hover,
.noturnoConfig:hover, 
.infoSobreMim:hover, 
.infoTema:hover{
    transition: 0.5s;
    background-color:rgba(#893A1A ,0.30);
    border-radius: 8px;
}

.btnConfig{
    background-color: var(--secondary-900);
    color: var(--text-secondary);
    border-radius: 8px;
    min-width: 100px;
    transition: all 0.3s ease;
    height: 2rem;
}

//RESPONSIVIDADE//

@media (max-width: 1080px) {

  .titleConfig {
    margin-left: 5%;
    margin-top: 3rem;
    font-size: 2rem;
  }

  .backgroundConfiguracoes {
    height: 25em;
    margin-top: 20px;
}

.infoAcessibilidade,
.infoSobreMim,
.infoTema {
      padding: 1rem;
    width: 95%;
  }

  .btnConfig {
    min-width: 90px;
    font-size: 1rem;
  }
}

@media (max-width: 720px) {

  .titleConfig {
    position: static;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .backgroundConfiguracoes {
    width: 95%;
    height: auto;
    padding-top: 0.2rem;
    margin-top: 1rem;
  }

  .infoAcessibilidade,
  .infoSobreMim,
  .infoTema {
    left: 0;
    width: 95%;
    padding: 16px;
    margin: 20px auto;
  }

  .leituraVoz,
  .noturnoConfig,
  .infoSobreMim,
  .infoTema {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .btnConfig {
    width:20%;
    max-width: 200px;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .configuracoesContainer {
    padding: 2rem;
  }

  .titleConfig {
    font-size: 2rem;
     text-align: center;
    align-self: center;
    margin: 8rem 0 1rem 0; 
  }

  .backgroundConfiguracoes {
    width: 100%;
    height: 28rem;
    padding: 1rem;
    margin-top: 15px;
  }

  .infoAcessibilidade,
  .infoSobreMim,
  .infoTema {
    width: 99%;
    padding: 23px;
    margin-top: 6px;
  }

  .titleAcessibilidade {
    font-size: 15px;
  }

  .leituraVoz,
  .noturnoConfig,
  .infoSobreMim,
  .infoTema {
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
  }

  .btnConfig {
    width: 40%;
    font-size: 1rem;
    padding: 5px;
  }
}


