@use "../../../styles/abstracts/variables" as *;


.configuracoesContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-subtitulo;
  transition: all 0.3s ease;
}

.header {
  display: flex;
  margin-bottom: 6rem;
  margin-left: 2.5rem;
  
  img {
    margin-top: 1rem;
    
  }
}

.titleConfig {
  color: var(--secondary-900);
  font-size: 3rem;
  position: static;
  right: auto;
  align-self: flex-start;
  margin: 0 0 1rem 10%;
  text-align: left;
}

.backgroundConfiguracoes {
  position: relative;
  background-color: var(--primary-300);
  border-radius: 8px;
  border: 3px solid var(--primary-500);
  width: 80%;
  height: 45vh;
  transition: all 0.3s ease;
  padding: 0.9rem 0;
}

.infoSobreMim,
.infoTema {
  position: relative;
  background-color: rgba(255, 255, 255, 0.21);
  width: 95%;
  padding: 25px;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.infoSobreMim,
.infoTema {
  display: flex;
  justify-content: space-between;
}

.infoSobreMim:hover,
.infoTema:hover {
  transition: 0.5s;
  background-color: rgba(#893A1A, 0.30);
  border-radius: 8px;
}

.btnConfig {
  background-color: var(--secondary-900);
  color: var(--text-secondary);
  border-radius: 8px;
  min-width: 100px;
  transition: all 0.3s ease;
  height: 2rem;
}

.titleInfo{
  font-size: 1.2rem;
  color: var(--text-primary);
  font-weight: 400;
}

//RESPONSIVIDADE//

@media (max-width: 1080px) {

  .titleConfig {
    margin-left: 11%;
    margin-top: 3rem;
    font-size: 2.6rem;
  }

  .backgroundConfiguracoes {
    height: 15em;
    margin-top: 11px;
  }

  .infoSobreMim,
  .infoTema {
    padding: 1rem;
    width: 95%;
  }

  .btnConfig {
    min-width: 90px;
    font-size: 1rem;
  }
}

@media (max-width: 720px) {

  .titleConfig {
     margin-left: 25%;
    position: static;
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
  }

  .backgroundConfiguracoes {
    width: 85%;
    height: auto;
    padding-top: 0.2rem;
    margin-top: 0.5rem;
  }

  .infoSobreMim,
  .infoTema {
    left: 0;
    width: 95%;
    padding: 16px;
    margin: 20px auto;
  }

  .infoSobreMim,
  .infoTema {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .btnConfig {
    width: 20%;
    max-width: 200px;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .configuracoesContainer {
    padding: 2rem;
  }

  .titleConfig {
    text-align: center;
    align-self: center;
    margin: 8rem 0 1rem 0;
  }

  .backgroundConfiguracoes {
    width: 100%;
    padding: 1rem;
    margin-top: 15px;
  }

  .infoSobreMim,
  .infoTema {
    width: 99%;
    padding: 23px;
    margin-top: 6px;
  }

  .infoSobreMim,
  .infoTema {
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
  }

  .btnConfig {
    width: 40%;
    font-size: 1rem;
    padding: 5px;
  }
}