@use "../../styles/abstracts/variables" as *;

:global {

    /* ============================================
    CONTAINER GERAL E TEMA
    ============================================ */
    .rhap_container {
        --rhap-theme-color: var(--primary-400) !important;
        box-shadow: none !important;
        background-color: transparent !important;
        padding: 0;
    }

    /* ============================================
    BARRA DE PROGRESSO (EM CIMA)
    ============================================ */
    .rhap_total-time {
        color: var(--secondary-900) !important;
        font-family: $font-family-texto !important;
        font-weight: 600 !important;
    }

    .rhap_current-time {
        color: var(--secondary-900) !important;
        font-family: $font-family-texto !important;
        font-weight: 600 !important;
    }

    .rhap_progress-bar {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .rhap_progress-filled {
        background-color: var(--primary-400) !important;
    }

    .rhap_progress-indicator {
        background-color: var(--secondary-900) !important;
        box-shadow: none !important;
    }

    .rhap_volume-container{
        padding: 7px;
    }

    .rhap_volume-indicator {
        background-color: var(--secondary-900) !important;
        box-shadow: none !important;
        z-index: 2 !important;
    }

    .rhap_repeat-button {
        display: none !important;
    }

    // Cor dos botões
    .rhap_button-clear {
        color: var(--secondary-900) !important;
        width: 1.8rem;
    }
}