@use '../../../styles/abstracts/variables' as *;

.containerCalendarioInicial {
    max-width: 80%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: $font-family-texto;

    .calendarioInicialTopo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 2rem;

        .calendarioInicialDataHora {
            color: var(--primary-color);
        }
    }
}
  