.containerButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10rem;
	height: min-content;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid var(--neutral-primary);
	color: var(--text-primary);

	&:hover {
		background-color: var(--background-secondary);
	}
}