@use "../../../styles/abstracts/variables" as *;

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--background-primary);
	overflow-x: hidden;
}

.conteudo {
	padding: 0 2%;
}

.headerEvento {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 0;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	gap: 1rem;
}

.tituloEvento {
	font-family: $font-family-principal;
	font-size: 3.5rem;
	font-weight: 500;
}

.autora {
	font-family: $font-family-principal;
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--primary-400);
	white-space: nowrap;
}

.conteudoPrincipal {
	display: grid;
	align-items: flex-start;
	column-gap: 2rem;
	grid-template-columns: 1.5fr 1fr;
	margin-bottom: 1.5rem;
}

.colunaEsquerda,
.colunaDireita {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.textoContainer {
	position: relative;
}

.corpoTexto {
	background-color: var(--primary-200);
	padding: 1.5rem;
	border-radius: 20px;
	min-height: 23rem;
	max-height: 23rem;
	font-size: 18px;
	font-family: $font-family-texto;
	overflow-y: auto;
	line-height: 1.7;
	transition: max-height 0.5s ease-in-out;

	&.expanded {
		max-height: 1000px;

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
		}
	}

	p {
		margin-bottom: 1.25rem;
	}

	&::-webkit-scrollbar {
		width: 10px;
	}

	// Estiliza o caminho do scroll
	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.1);
		margin: 1.5rem 0;
		border-radius: 20px;
	}

	// Estiliza a barra
	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-400);
		border-radius: 20px;

	}
}

.imagemCapa img {
	border-radius: 20px;
	height: 23rem;
}

.tags {
	display: flex;
	gap: 1.5rem;
	flex: 1;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}

.tag {
	background-color: var(--secondary-900);
	padding: 8px 20px;
	border-radius: 30px;
	color: var(--neutral-secondary);
	font-family: $font-family-principal;
}

.infoInferior{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	margin-top: 1rem;
	align-items: center;
}

.playerContainerWrapper {
    width: 100%; 
    box-sizing: border-box;
}

.playerCompacto {
    display: flex;
    align-items: center;
	justify-content: flex-start;
    gap: 1rem;
	width: 100%;
    
    h4 {
        font-family: $font-family-principal;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-400);
    }
}

.playIconCompacto {
    font-size: 1.7rem;
    color: var(--neutral-secondary);
    background-color: var(--neutral-primary);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.infoLocalEvento {
    background-color: var(--primary-200);
    padding: 1.5rem;
    border-radius: 20px;
    font-family: $font-family-subtitulo;
    font-size: 1.3rem;
    line-height: 1.6;
    
    p {
        margin: 0;
		color: var(--primary-700);
        &:first-child {
            margin-bottom: 0.5rem;
        }
    }

	a{
		color: var(--secondary-900);
		text-decoration: underline;

		&:hover{
			color: var(--secondary-600);
		}
	}
}

.botoesAcaoDireita {
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.eventosRelacionadosContainer {
	margin-top: 4rem;
	padding-top: 2rem;
	border-top: 2px solid var(--primary-400);
}

.relacionadosHeader {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 2rem;
}

.tituloRelacionados {
	font-family: $font-family-principal;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 2rem;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.verMaisBotao {
	display: inline-block;
	background-color: var(--secondary-900);
	color: var(--neutral-secondary);
	padding: 0.6rem 1.8rem;
	border-radius: 30px;
	text-decoration: none;
	font-weight: 600;
	font-family: $font-family-subtitulo;
	transition: all 0.3s ease;
	margin-top: 0;

	&:hover {
		background-color: var(--primary-500);
		transform: translateY(-2px);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 1080px) {
	.corpoTexto{
		font-size: 20px;
	}
	
	.tag {
		font-size: 1.2rem;
	}

	.tituloRelacionados {
		font-size: 3rem;
	}

	.verMaisBotao {
		font-size: 1.4rem;
	}

	.cardsContainer {
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;
		justify-self: center;
	}
}

@media (max-width: 900px){
	.cardsContainer {
		gap: 1rem;
	}
}

@media (max-width: 720px) {
	.colunaEsquerda,
    .colunaDireita {
        display: contents;
    }

	.relacionadosHeader{
		display: block;
	}

	.tituloRelacionados {
		font-size: 2.8rem;
	}

	.verMaisBotao{
		font-size: 1rem;
		padding: 8px 25px;
	}

	.conteudo {
		padding: 5%;
	}

	.conteudoPrincipal {
		grid-template-columns: 1fr;
		grid-template-areas:
			"audio"
            "imagem"
            "texto"
            "local"
			"botoesAcao";
	}

	.headerEvento {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}

	.tituloEvento {
		grid-area: titulo;
		font-size: 3rem;
	}

	.autora {
		grid-area: autora;
	}

	.playerContainerWrapper{
		margin-bottom: 2rem;
	}

	.audio{
		grid-area: audio;
		margin-bottom: 2rem;
	}

	.imagemCapa {
		grid-area: imagem;
		img {
			width: 75%;
			height: auto;
			justify-self: center;
			margin-bottom: 1.5rem;
		}
	}

	.textoContainer{
		grid-area: texto;
	}

	.corpoTexto {
		
		max-height: 30rem;
		font-size: 22px;

		&::-webkit-scrollbar {
			width: 13px;
		}
	}

	.botaoShare {
		grid-area: share;
		font-size: 3rem;
		padding: 10px 30px;
	}

	.tags {
		grid-area: tags;
		justify-content: flex-start;
		margin-top: 1.5rem;
		gap: 0.8rem;
	}

	.tag {
		font-size: 23px;

	}
	.botoesAcaoDireita {
        grid-area: botoesAcao;
    }

    
    .infoLocalEvento {
        grid-area: local;
		margin-top: 1.5rem;
    }

}

@media (max-width: 480px) {
	.tituloEvento{
		font-size: 2.8rem;
	}

	.imagemCapa {
		img {
			width: 100%;
		}
	}

	.corpoTexto {
		max-height: 35rem;

		&::-webkit-scrollbar {
			width: 15px;
		}
	}

	.relacionadosHeader{
		display: block;
	}

	.tituloRelacionados{
		font-size: 2.5rem;
	}

	.verMaisBotao{
		font-size: 1.3rem;
	}

	.cardsContainer {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}
}

@media (max-width: 400px){
	.tituloEvento {
		font-size: 2.2rem;
	}

	.corpoTexto{
		font-size: 18px;
	}

	.tag{
		font-size: 14px;
	}

	.tituloRelacionados{
		font-size: 2.2rem;
	}

	.verMaisBotao{
		font-size: 1.1rem;
	}
}