@use "../../../styles/abstracts/variables" as *;

.fundoPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: var(--background-primary);
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    @media (max-width: 720px) {
        grid-template-columns: 1fr;
        max-width: 350px;
    }
}

.ladoEsquerdo {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;

    h3 {
        font-family: $font-family-principal;
        font-size: 2.1rem;
        margin: 0 0 0.5rem 0;
    }

    p {
        font-family: $font-family-texto;
        color: var(--primary-400);
        font-weight: 800;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
}

.containerLink {
    display: flex;
    margin-bottom: auto;

    input {
        width: 100%;
        padding: 0.75rem;
        border: 2px solid var(--primary-400);
        border-radius: 8px 0 0 8px;
        background: var(--neutral-secondary);
        font-family: $font-family-subtitulo;
        color: var(--neutral-primary);
        border-right: none;
    }

    button {
        padding: 0 1rem;
        border: 2px solid var(--primary-400);
        background-color: var(--primary-400);
        font-size: 1.5rem;
        color: var(--neutral-secondary);
        border-radius: 0 8px 8px 0;
        cursor: pointer;
        font-weight: bold;
    }
}

.botaoFechar {
    background: transparent;
    border: 2px solid var(--primary-400);
    color: var(--primary-400);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.75rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.2s ease;

    &:hover {
        background: var(--danger);
        color: var(--neutral-secondary);
        border-color: var(--danger);
    }
}


.ladoDireito {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 720px) {
        display: none;
    }
}

@media (max-width: 1080px){
    .ladoEsquerdo{
        h3{
            font-size: 2.5rem;
        }

        p{
            font-size: 1.4rem;
        }
    }

    .containerLink{
        input{
            font-size: 1.3rem;
        }
    }
}